@import 'common';

:host {
  .home__section {
    min-height: 100vh;
  }
}

.home__section {
  background: #eaeaea;
  padding: 1.5rem;
}

@include DesktopScreen {
  :host {
    .home__section {
      padding: 3rem;
    }
  }
}
