<div class="table__data" *ngIf="paginatedData.length">
  <p-table [value]="paginatedData" aria-label="Data Table">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let key of jsonKeys" [pSortableColumn]="key">{{ key }} <p-sortIcon [field]="key" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jsondata>
      <tr>
        <td *ngFor="let key of jsonKeys">{{ jsondata[key] }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPaginate($event)" aria-label="Pagination Navigation"></p-paginator>
</div>
