<section class="login__section">
  <div class="login__form">
    <div class="logo">
      <img src="../../../../../assets/images/logo-s.png" alt="Logo">
    </div>
    <div class="title">Login</div>
    <form [formGroup]="loginForm">
      <div class="form__item">
        <input type="email" formControlName="email" placeholder="Email"/>
        <svg><use href="#message"></use></svg>
      </div>

      <div class="form__item">
        <input type="password" formControlName="password" placeholder="Password"/>
        <svg><use href="#isolation"></use></svg>
      </div>

      <button pButton class="login-button" (click)="login($event)">login</button>
    </form>
    <div class="forgot-password">
      <p>Forget Password?</p>
    </div>
  </div>
</section>


